.nav {
  padding: 16px;
  padding-left: 125px;
  padding-right: 50px;
  height: 65px;
  box-shadow: inset 0 -1px #333;
}

.inner {
  display: flex;
  align-items: center;

  ul {
    margin-left: 64px;
    display: flex;
    align-items: center;
    width: 500px;
  }

  & > :last-child {
    margin-left: auto;
  }
}
